main .links-sociales{
    list-style: none;
    margin: 0;
    padding: 0;
}

main .links-sociales li{
    border-top: 1px solid #db8989;  
}

main .links-sociales li: last-child a { /*selecciona el ultimo elemento de la lista, por eso last child, y le hace el efecto*/
    border-radius: 0 0 5px 5 px;
    
}
    
    
    
main .links-sociales li a{
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    transition: padding-left .5s ease;
}

main .links-sociales li a:hover { /*efecto que se hace cuando pasas el cursor sobre el elemento -en este caso "a"*/
    background-color: #cd5555;
    padding-left: 25px;
}

main .links-sociales li a img{ /* hace que la imagen aleje, centre o hagan algo con respecto a la img, por ej el texto*/
    vertical-align: middle;
    margin-right: 10px; 
}